* {
    margin: 0;
    padding: 0;
}
.heading, .container, .footing {
    margin: 10px auto;
}
.heading {
    height: 100px;
    background-color: chocolate;
}
.left, .right, .main {
    background-color: cornflowerblue;
}
.footing {
    height: 100px;
    background-color: aquamarine;
}
@media screen and (min-width: 960px) {
    .heading, .container, .footing {
        width: 960px;
    }
    .left, .main, .right {
        float: left;
        height: 500px;
    }
    .left, .right {
        width: 200px;
    }
    .main {
        position: relative;
        width: 550px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .abs {
        position: absolute;
        width: 300px;
        height: 80px;
        color: white;
        border: 2px;
        background: black;
        /*水平居中，left是相对于父级元素宽度的一半，就是本子DIV偏移父级原始左边框的一半距离，再通过margin-left回调自身宽度的50%，让两个中心线完全重合*/
        left: 50%;
        margin-left: -150px;
        /*垂直居中*/
        top: 50%;
        margin-top: -40px;
    }
    .abs1 {
        width: 240px;
        color: white;
        border: 2px;
        background: green;
        float: right;
    }
    .flo {
        width: 280px;
        color: red;
        border: 2px;
        background: yellow;
    }
    .flo1 {
        width: 320px;
        color: red;
        border: 2px;
        background: orange;
    }
    .p{
        float: left;
    }
    .container {
        height: 500px;
    }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
    .heading, .container, .footing {
        width: 600px;
    }
    .left, .main {
        float: left;
        height: 400px;
    }
    .right {
        display: none;
    }
    .left {
        width: 160px;
    }
    .main {
        width: 435px;
        margin-left: 5px;
    }
    .container {
        height: 400px;
    }
}
@media screen and (max-width: 600px) {
    .heading, .container, .footing {
        width: 400px;
    }
    .left, .right {
        width: 400px;
        height: 100px;
    }
    .main {
        width: 400px;
        height: 200px;
        margin-top: 10px;
    }
    .right {
        margin-top: 10px;
    }
    .container {
        height: 420px;
    }
}
