/*参考文章：
http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html
http://www.ruanyifeng.com/blog/2015/07/flex-examples.html
*/
/* 定义整个站牌的宽度及高度 */
/*定义基础ul样式*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, sans-serif;
}
ul {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
li > .cur {
  color: red;
  font-size: 15px;
  font-weight: 700;
}
li > div {
  margin: 0 auto;
  width: 15px;
  line-height: 15px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  text-align: justify;
}
span {
  font-size: smaller;
}
.border {
  /*定义各种边框的样式*/
  border: 2px;
  border-color: red;
  border-style: solid;
  display: block;
}
.dirction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30.24px;
}
.subDirction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dirctionL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.dirctionM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.dirctionR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.dirctionStyle {
  /*定义每个车站上部的班车发送方向*/
  background: yellow;
  width: 100%;
}
.bus-lineFlexStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*body使用flexbox布局，而不是普通的块布局。在文档流中的所有子元素（即不是绝对定位的元素）现在都变成了伸缩项目。著作权归作者所有。
商业转载请联系作者获得授权,非商业转载请注明出处。
原文: http://www.w3cplus.com/css3/designing-css-layout-with-flexbox.html ©w3cplus.com*/
.contain {
  /*定义各种边框的样式*/
  border: 2px;
  border-color: red;
  border-style: solid;
  display: block;
  background: lightyellow;
  margin: auto;
  /*定义各种边框的宽度及高度*/
  width: 469.5px;
  height: 945px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-top {
  /*定义各种边框的样式*/
  border: 2px;
  border-color: red;
  border-style: solid;
  display: block;
  /*定义各种边框的宽度及高度*/
  width: 469.5px;
  height: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
  font-weight: 700;
  font-size: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bus-line {
  /*定义各种边框的样式*/
  border: 2px;
  border-color: red;
  border-style: solid;
  display: block;
  /*定义各种边框的宽度及高度*/
  width: 422.55px;
  height: 98px;
}
.bus-line .dirction {
  /*定义每个车站上部的班车发送方向*/
  background: yellow;
  width: 100%;
}
.banner-bottom {
  /*定义各种边框的样式*/
  border: 2px;
  border-color: red;
  border-style: solid;
  display: block;
  /*定义各种边框的宽度及高度*/
  width: 469.5px;
  height: 116.5px;
}
